table {
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    text-align: center;
}

tfoot {
    background-color: #7fb9c2;
}

tr,
th,
td {
    border: 1px solid black;
    padding: 10px;
}

tbody {
    background-color: #e7f0ed;
}

tr:nth-child(even) {
    background-color: #e7ffed;
}

thead tr th{
    background-color: #628ca6;
    color: #ffffff;
}

thead tr:first-child th{
    background-color: #7fb9c2;
    font-size: 25px;
    color: black;
}

#blackFriday {
    font-style: italic;
}

tbody tr:nth-child(4) td:nth-child(3){
    background-color: #628ca6;
}