@media only screen and (min-width: 1024px) {
    main .index {
        display: flex;
        margin-top: 5%;
        color: white;
    }
    main .index h2 {
        font-size: 90px;
    }

    main .index p {
        font-size: 40px;
        text-align: justify;
    }
    main .index h2,
    main .index p {
        width: 550px;
    }
    main #event p,
    main #service p {
        text-align: right;
    }

    main #event h2,
    main #event p {
        max-width: 420px;
    }
    
    main #event h2{
        font-size: 70px;
    }
    main #event p{
        font-size: 40px;
    }

    main #advpage img {
        width: 80%;
        height: 75%;
    }
    main #advpage {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 5%;
    }

    main #eventpage #eventpg-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    main #event-info {
        display: flex;
    }

    main #event-info form {
        margin-top: 2%;
    }













}
