* {
    margin: auto;
    box-sizing: border-box;
    background-color: #5D5C61;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 15px;
    font-family: monospace/* Declare the base font-family */
}

header,
nav,
main,
footer {
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    /*    max-width: 100%;*/
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #FEFEFE;
}


header h1 {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 70px;
    margin-bottom: 0;
    background-color: #FEFEFE;

}

.subheading {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 20px;
    margin: 10px;
    margin-left: 20%;
    background-color: #FEFEFE;
}

header img {
    margin: 2% 3% 0 7%;
    width: 100px;
    height: 100px;

}

nav {
    min-height: 15px;

}

nav button {
    background-color: darkgrey;
}

nav ul {
    text-align: center;
    background-color: darkgray;
}

nav ul.hide {
    display: none;
    background-color: darkgrey;
}

nav ul li:hover {
    display: flex;
    box-shadow: 1px 1px 1px darkgrey;
    width: 70px;
    height: 30px;
    background-color: darkgrey;
}

nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-stretch: extra-expanded;
    background-color: darkgrey;
}

nav ul li.active {
    height: 34px;
    min-width: 90px;
    background-color: #7395AE;

}

nav ul li.active a {
    background-color: #7395AE;

}

main {
    /*    margin: auto;*/
    /*    width: 95%;*/
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}

main .index div {
    margin-top: 0;
}

/*
main h2 {}

main figure {}

main figure img {}


main section {}
*/

main .index {
    display: block;
    margin-top: 5%;
    color: white;
}

main {
    color: white;
}

main .index-link {
    text-decoration: none;
}

main .index-link:hover {
    box-shadow: 5px 5px 10px gray;
}

main #adventure img,
#product img,
#event div,
#service div {
    margin-right: 0;
    /*
    margin-top: 0;
    margin-bottom: 0;
*/
}

main #event img,
#service img,
#adventure div,
#product div {
    margin-left: 0;
    /*
    margin-top: 0;
    margin-bottom: 0;
*/
}

#adventure img,
#event img,
#product img,
#service img {
    margin-top: 0;
    margin-bottom: 0;
    width: 40%;
    height: 40%;
}

main .index h2,
main .index p {
    background-color: rgb(147, 142, 148, 0.3);
    max-width: 550px;
    font-family: 'Coda Caption', sans-serif;
}

main .index h2 {
    font-size: 20px;
}

main .index p {
    font-size: 15px;
    text-align: justify;
}

main #event p,
main #service p {
    text-align: right;
}

main #event h2 {
    min-width: 420px;
    font-size: 20px;
}

main #subscribe {
    display: flex;
    background-color: rgb(147, 142, 148);
    margin-bottom: 0;
}

main #subscribe h2,
main #subscribe form div,
main #subscribe form div label {
    background-color: rgb(147, 142, 148);
}

main #subscribe form div input {
    background-color: white;
}

main #subscribe form div {}

main #subscribe form div label {
    margin-bottom: 30px;
    font-family: 'Coda Caption', sans-serif;
    font-size: 30;
    width: 150px;
    display: inline-block;
}

main #subscribe form #bt-subscribe input {
    font-family: 'Coda Caption', sans-serif;
    font-size: 90;
    height: 50px;
    width: 150px;
    color: white;
    background-color: #7395AE;
}

figure img {
    margin: 0;
    width: 100%;
}

main #advpage article img {
    width: 90%;
    height: auto;
}

#advpage {
    display: grid;
    grid-template-columns: 1fr;
}

main #advpage article {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color:
}

main #advpage article h3 {
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    color: #B1A296;
}

main #advpage article p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    max-width: 80%;
    text-align: justify;
}

main #advpage article .indent {
    text-indent: 40px;
}

main #eventpage {
    width: 97%;
    margin-top: 3%;
    margin-bottom: 3%;
}

main #eventpage .eventpic {
    width: 280px;
    ;
    opacity: 0.6;
    filter: alpha(opacity=50);
}

main #eventpage .eventpic:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

main #eventpage legend {
    margin-left: 10%;
    text-align: left;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    /*    background-color: rgb(147, 142, 148, 0.3);*/
}

main #eventpage #event-header {
    margin-top: 5%;
}

main #eventpage h3 {
    font-size: 60px;
    font-family: 'Nunito Sans', sans-serif;
    color: #B1A296;
}

#event-info {
    display: block;
    background-color: rgb(147, 142, 148, 0.3);
    font-family: 'Coda Caption', sans-serif;
    margin-top: 5%;
}

main #eventpage #eventpg-img {
    display: grid;
    grid-template-columns: 1fr;
}

main #eventpage #eventpg-img img {
    /*    margin: 1%;*/
}

#event-info img {
    margin-right: 0;
}

#event-info div {
    margin-left: 0;
    text-align: left;
}

#event-info div h4,
#event-info div p {
    text-align: left;
    background-color: rgb(147, 142, 148, 0.3);
    font-family: 'Coda Caption', sans-serif;
}

#event-info div h4 {
    margin-top: 0;
    font-size: 60px;
}

#event-info div p {
    text-align: left;
    font-size: 30px;
}

#event-info form div,
#event-info form label {
    text-align: left;
    background-color: rgb(147, 142, 148, 0.3);
}

#event-info form div {
    min-height: 32px;
}

#event-info form label {
    align-content: center;
    text-align: left;
    width: 120px;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
}

#event-info form input,
select {
    width: 170px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
}

main #eventpage #register-bt input {
    background-color: #7395AE;
    font-family: 'Coda Caption', sans-serif;
    color: white;
    width: 250px;
    height: 50px;
}

main .sale-page {
    margin-top: 0.5%;
    width: 97%;
}

main .sale-page {
    margin-bottom: 0.5%;
}

main .sale-page legend {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #7395AE;
    font-size: 20px;
    text-align: left;
    width: 100%;
    height: 30px;
    text-decoration: none;
}

/*
main .sale-page div {
    display: flex;
}
*/

main .sale-page div img {
    /*    display: none;*/
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    width: 35%;
    height: 40%;
    ;
}

main .sale-page div article {
    /*    display: none;*/
    max-width: 550px;
}

main .sale-page div article p {
    margin-top: 5%;
    margin-bottom: 5%;
}

main section .sale-page legend .sale-bt {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #7395AE;
    color: white;
    min-width: 100%;
}

main .sale-page div article h2 {
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    color: #B1A296;
}

main .sale-page div article table tbody tr th {
    text-align: right;
}

main #services-table table tr,
main #services-table table th,
main #services-table table td {
    border: 1px solid white;
    padding: 10px;
}

main #services-table table {
    margin-top: 5%;
    margin-bottom: 5%;
    border-collapse: collapse;
}

main #services-table table thead th {
    font-family: 'Nunito Sans', sans-serif;
    color: #B1A296;
}

main #contact-page {
    margin-top: 5%;
    margin-bottom: 3%;
}

main #contact-page h2 {
    margin-bottom: 1%;
}

main iframe {
    width: 97%;
    margin-bottom: 3%;
}

main #thank-page #thankyou {
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 3%;
}

main #resource-page li{
    margin-top: 4%;
    margin-bottom: 4%;
}

main #resource-page li a{
    color: white;
}

main #contact-page h2{
    font-family: 'Nunito Sans', sans-serif;
    color: #B1A296;
}

main #vedio-head{
    font-family: 'Nunito Sans', sans-serif;
    color: #B1A296;
}

main video {
    width: 60%;
    height: auto;
    margin-bottom: 5%;
}
/**/

footer {
    margin: auto;
    text-align: center;
    /*    margin-top: 20px;*/
    color: white;
    font-size: 13px
}

footer a {
    color: white;
}

footer section,
span {
    background-color: darkgray;
}
